.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: 67%;
    margin: auto;
    padding: var(--gap);
}

@media only screen and (max-width: 768px) {
    .main {
        position: relative;
        min-height: calc(100vh - var(--header-height) - var(--footer-height));
        max-width: calc(var(--main-width) + var(--gap) * 2);
        margin: auto;
        padding: var(--gap);
    }
}

.page-header h1 {
    font-size: 50px;
    color: #ab86c9;
}

.pagination {   
    display: flex;
}

.pagination a {
    color: #fbeaf4;
    font-size: 20px;
    font-weight: bolder;
    line-height: 36px;
    background: var(--gap);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a svg {
    height: 16px;
    width: 16px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 1.0);
    background: rgba(59, 59, 59, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
