.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--gap);
    /* background: #1d1e20e2 !important; */
    border-radius: 6px;
    transition: transform 0.1s;
}

.terms-tags a:active {
    /* background: var(--tertiary); */
    transform: scale(0.96);
    transition: transform 0.4s;
}

.terms-tags a:hover{
    transform: scale(1.07);
}
